/** 纯白色：内容容器背景色       适用于： 列表、卡片  、按钮*/
$dr-color-1: white;

/** 纯黑色     */
$dr-color-2: black;

/** 纯红色     */
$dr-color-3: #f00;

/** 青灰:基础背景色        适用于: body html 页面div */
//$dr-color-4: #f3f6f7;
$dr-color-4: #F5F5F3;

/** 棕色： 内容字体颜色         适用于：  p  */
$dr-color-5: #AAA9A9;

/** 棕色： 标题字体颜色         适用于：  header 文档标题 */
$dr-color-6: #444343;

/** 棕色： 标题字体颜色         适用于：  tab  */
$dr-color-7: #905907;

/** 洋红   */
$dr-color-8: #e9537c;

/** 呜咔熊黄色： 主题色（标准）         适用于：  header  */
$dr-color-9: #ffdb3b;

/** 呜咔熊黄色 -1： 主题色         适用于：  button star  */
$dr-color-10: #fed400;

/** 呜咔熊黄色 -1： 主题色 —— 强调         适用于：  button背景   */
$dr-color-11: #fcbd00;

/** 呜咔熊黄色 -1： 主题色 —— 强调         适用于：  button背景  star  */
$dr-color-12: #fca800;

/** 呜咔熊黄色 -1： 主题色 —— 强调         适用于：  button文字  star  */
$dr-color-13: #fc9e00;

/** 呜咔熊橙色 ： 主题色 —— 强调         适用于：  button文字  star  */
$dr-color-14: #EB613A;    

/** 呜咔熊淡蓝色：*/
$dr-color-15:#DBF0F9;

/** 呜咔熊天蓝色：*/
$dr-color-20: #C3E6F4;
/** 呜咔熊天蓝色：*/
$dr-color-16: #A6DAED;

/** 呜咔熊绿色：*/
$dr-color-17: #95C51B;

/** 呜咔熊墨绿色：*/
//$dr-color-18: #37B0A9;
$dr-color-18: #33BB33;

